<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tec.diegogranados.contru_movil">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activitys.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activitys.Login" />
        <activity android:name=".Activitys.Registry" />
        <activity
            android:name=".Activitys.Main_Page_App"
            android:label="@string/title_activity_main__page__app"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activitys.Clients"
            android:label="@string/title_activity_clients"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activitys.Products"
            android:label="@string/title_activity_products"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activitys.Orders"
            android:label="@string/title_activity_orders"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activitys.Providers"
            android:label="@string/title_activity_providers"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activitys.Categories"
            android:label="@string/title_activity_categories"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activitys.Vendors"
            android:label="@string/title_activity_vendors"
            android:theme="@style/AppTheme.NoActionBar" />
        <!--
 ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".Activitys.Registry_Product"></activity>
    </application>

</manifest>